:root{
    --primary-color: #d11e1e;
    --secondary-color: #080564;
    --accent1-color: #19b633;
    --accent2-color: #c98507af;

    --heading-font: 'Halant', serif;
    --paragraph-font: 'Nunito sans', sans-serif;

}
body{
    font-family: var(--paragraph-font);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
}

a{
    text-decoration: none;
}
header,main,footer{
    max-width: 1200px;
    margin: 0,auto
}

.hero{
    position: relative;
}

.hero img{
    width: 100%;
}

.hero h1{
    position: absolute;
    top: 1em;
    left: 40%;
    /* transform: translate(-10%,-10%); */
    background-color: #ffffff61;
}

.hero article{
    background-color: #ffffff61;
    position: absolute;
    top: 20rem;
    left: 2rem;
    right: 2rem;
}

.hero article img{
    float: right;
    margin: 2rem;
    width: 14rem;
}

.hero article p{
    color: var(--secondary-color);
    padding: 1rem;
    
}